<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @scoring_category.name %>
</p>

<%= link_to 'Edit', edit_scoring_category_path(@scoring_category) %> |
<%= link_to 'Back', scoring_categories_path %>
